.hamburger-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 100;
  background-color: black;
  opacity: 0.4;
}

.menu-item{
  width: 100%;
  text-align: center;
  padding: 0.75rem;
}

.menu-link{
  width: 100%;
  display: block;
  color: white;
}
